In [106]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [107]:
df = pd.read_csv('../data/1_interm/musicbrainz_artists_random.csv')
df.head()

,artist_id,name,sort_name,type,country,begin_area,begin_date,end_date,genres,tags,release_groups,timestamp
0,da0419e3-3d53-4766-8d2a-c43fe1fcabb4,中恵光城,"Nakae, Mitsuki",Person,NaN,Saitama,????-03-19,NaN,NaN,NaN,"World, Lust, Reach, Wish, Apart, CUSTOMORDERMA...",2025-04-10T06:13:31.382793
1,661e188d-d855-4abf-a2eb-d5cc401fe0c4,Equip,Equip,Person,NaN,NaN,NaN,NaN,"ambient, chiptune, electronic, new jack swing,...","ambient, chiptune, dark knight, electronic, kn...","I Dreamed of a Palace in the Sky, Synthetic Co...",2025-04-10T06:13:33.448910
2,ad0a5e1e-4926-4d4d-9b0f-77fbbd19439f,Steve Moore,"Moore, Steve",Person,NaN,Pittsburgh,NaN,NaN,"electronic, synthwave","electronic, synthwave","Zero-Point Field, Panther Moderns, Horror Busi...",2025-04-10T06:13:35.506581
3,cf66c8e2-8bfd-47f3-b0ae-4d1a2428be29,Fortuna Music,Fortuna Music,Group,MX,Mexico,2023-03-10,NaN,NaN,NaN,Agua de Vida,2025-04-10T06:13:37.502293
4,df20a18f-c1e1-47e2-b26e-f0f792c9cba7,sci,sci,Person,US,NaN,NaN,NaN,NaN,brony,"Sketches from Math Class, :40HoC, Atmospheric ...",2025-04-10T06:13:39.681896

In [108]:
df.shape

(100, 12)

In [109]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   artist_id       100 non-null    object
 1   name            100 non-null    object
 2   sort_name       100 non-null    object
 3   type            94 non-null     object
 4   country         66 non-null     object
 5   begin_area      50 non-null     object
 6   begin_date      52 non-null     object
 7   end_date        9 non-null      object
 8   genres          51 non-null     object
 9   tags            58 non-null     object
 10  release_groups  99 non-null     object
 11  timestamp       100 non-null    object
dtypes: object(12)
memory usage: 9.5+ KB

In [110]:
df.isnull().sum()

artist_id          0
name               0
sort_name          0
type               6
country           34
begin_area        50
begin_date        48
end_date          91
genres            49
tags              42
release_groups     1
timestamp          0
dtype: int64

In [111]:
df = df.dropna()

In [112]:
df.isnull().sum()

artist_id         0
name              0
sort_name         0
type              0
country           0
begin_area        0
begin_date        0
end_date          0
genres            0
tags              0
release_groups    0
timestamp         0
dtype: int64

In [113]:
df[df.duplicated(keep=False)]

Empty DataFrame
Columns: [artist_id, name, sort_name, type, country, begin_area, begin_date, end_date, genres, tags, release_groups, timestamp]
Index: []

In [114]:
df.describe(include="object")

,artist_id,name,sort_name,type,country,begin_area,begin_date,end_date,genres,tags,release_groups,timestamp
count,3,3,3,3,3,3,3,3,3,3,3,3
unique,3,3,3,1,3,3,3,3,3,3,3,3
top,fba243b2-728f-46f1-9212-dd188c1561ef,Violetta Villas,"Villas, Violetta",Person,PL,Heusy,1938-06-10,2011-12-05,jazz,jazz,"Rendez-vous z Violettą Villas, Violetta Villas...",2025-04-10T06:13:44.523839
freq,1,1,1,3,1,1,1,1,1,1,1,1

In [115]:
values = df["genres"].unique()
values

array(['jazz', 'jazz, krautrock, progressive rock',
       'electro-disco, euro-disco, italo-disco'], dtype=object)

In [116]:
values_begin_area = df["begin_area"].unique()
values_begin_area

array(['Heusy', 'Brussels', 'Pompei'], dtype=object)

In [117]:
values_tags = df["tags"].unique()
values_tags

array(['jazz', 'jazz, krautrock, progressive rock',
       'electro-disco, euro-disco, italo-disco'], dtype=object)

In [118]:
values_tags = df["type"].unique()
values_tags

array(['Person'], dtype=object)

In [119]:
values_release_groups = df["release_groups"].unique()
values_release_groups

array(['Rendez-vous z Violettą Villas, Violetta Villas, Dla ciebie miły, O miłości..., Nie ma miłości bez zazdrości, Najpiękniejsze kolędy, Gdy się Chrystus rodzi..., Kolędy serca, Na pocieszenie serca i uniesienie ducha, Dawne przeboje, Największe przeboje, Dla ciebie miły, Jestem taka a nie inna, Platynowa kolekcja: Złote przeboje, Złota kolekcja: Pocałunek ognia, Złote przeboje, Złote przeboje, cz. 1, Złote przeboje, cz. 2, Polskie perły: Do ciebie mamo, Z archiwum Polskiego Radia, vol. 11, 40 piosenek Violetty Villas, Laleczka, Czarny szal / Marianna ruda, Sekret / Zaśnij, Żabka i miś / Dla ciebie miły',
       "L'Immagine Del Suono, Images of Flute in Nature, Biomechanoïd, Birth Of Earth, Contemporary Pastoral and Ethnic Sounds, Lost Continents, Meditations, Volume 1, Meditations, Volume 2, Computer Blossoms, Industrial Retrospect, Open Air Impressions, Joel However, Mesopotamia Egypt, Middle Ages, South East Asia, Digital Project, Video Games & Data Movements, AVision, California - Industrial & Scenic Moods, AV Motion, Prospective Metropolis / Digital Project, Datapulse, Sunrise, Silicon Sirene, Far View",
       "...Balla!, Ti regalo della musica, Una notte maledetta, Sunshine Blue, Gente sì & Gente no, Dancing in Jazz, Notte d'amore, Ma quale idea, Italian Classics, Vol. I, Italian Classics, Vol. II, Ma quale idea / Lezione d’amore, MA CHE IDEA, MA CHE IDEA, Ma quale idea (Myd remix)"],
      dtype=object)

In [120]:
values_begin_date = df["begin_date"].unique()
values_begin_date

array(['1938-06-10', '1938-08-25', '1952-08-14'], dtype=object)

In [121]:
values_end_date  = df["end_date"].unique()
values_end_date

array(['2011-12-05', '2019-12-23', '2024-07-06'], dtype=object)

In [122]:
values_timestamp = df["timestamp"].unique()
values_timestamp

array(['2025-04-10T06:13:44.523839', '2025-04-10T06:15:05.160518',
       '2025-04-10T06:16:19.023058'], dtype=object)

In [123]:
df['timestamp'] = pd.to_datetime(df['timestamp'])
df['begin_date'] = pd.to_datetime(df['begin_date'], format='%Y-%m-%d')  
df['end_date'] = pd.to_datetime(df['end_date'], format='%Y-%m-%d')

In [124]:
df.dtypes

artist_id                 object
name                      object
sort_name                 object
type                      object
country                   object
begin_area                object
begin_date        datetime64[ns]
end_date          datetime64[ns]
genres                    object
tags                      object
release_groups            object
timestamp         datetime64[ns]
dtype: object